/*************************************************************************************
//		Author: Jose Delgado
*************************************************************************************/
h1 {
	text-align: center;
	font-family: 'Lora', serif;
}

body {
	font-family: 'Ubuntu', sans-serif;
}

.theForm {
	border: 20px solid #bdc3c7;
	padding: 20px;
	max-width: 700px;
	width: 80%;
	margin: auto;
}

.errorMsg {
	color: #ff0000;
	font-weight: bold;
}

#result {
	color: #008000;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 700;
}

#resultText {
	color: black;
	font-weight: normal;
}

.inputForm{
	padding-top: 20px;
	margin: auto;
}